<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/perfil.css">
    <title>Meu Perfil</title>
</head>

<body>
    <header>
        <div class="header-options">
            <a href="/quizes"><img src="/icons/icon-back.png" alt="Icone Voltar"></a>
        </div>
    </header>

    <main>
        <div class="user-info">
            <h2>Nome Usuario</h2>
            <img src="" alt="Icon Usuario">
        </div>

        <div class="stats">
            <h2>Estatísticas</h2>
            <div class="stats-info">
                <p>30 Dias seguidos 🔥</p>
                <p>1000 Total de Xp ✨</p>
                <p>3 Cursos Concluídos 👨‍🎓</p>
            </div>
        </div>

        <div class="awards">
            <h2>Conquistas</h2>
            <div class="awards-info">
                <img src="" alt="Foto Conquista">
                <img src="" alt="Foto Conquista">
                <img src="" alt="Foto Conquista">
            </div>
        </div>
    </main>
</body>

</html>