* {
    font-size: 1em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #F5F5DC;
}
h2{
     margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 2.5em;
    filter: invert(1);
}

.header-options img:hover {
    transform: scale(1.1)
}

a {
    text-decoration: none;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    background-color: #FAFAFA;
}

.area-pergunta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7em;
    width: em;
}

.area-questao {
    text-align: center;
    /* border: 2px solid #000; */
    border-radius: 0.5em;
    padding: 0.5em;
    width: 50%;
    font-size: 1.8em;
}

.resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.resposta p {
    margin: 0.5em 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 2px solid #000;
    border-radius: 0.9em;
}

.resposta p:hover {
    cursor: pointer;
    background-color: #ddd;
    border: 2px solid #000;
}

.resposta-item.selected {
    background-color: #03A65A;
    font-weight: bold;
    border: none;
}

.botoes{
    width: 62.5%;
    text-align: center;
}

button {
    margin: 0.3em 1% 0.3em 0;
    height: 2.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.6em;
    background-color: black;
    color: white;
}

#button1{
    width: 48%;
    margin: 0.3em 1% 0.3em 0;
}

#button2{
    width: 48%;
    margin: 0.3em 0 0.3em 1%;
}

button:hover {
    cursor: pointer;
    background-color: #03A65A;
}

@media only screen and (max-width: 700px){
    .area-questao {
        font-size: 1.5em;
        width: 75%;
    }

    .resposta {
        width: 75%;
    }

    .botoes {
        width: 79%;  
    }

    header img {
        height: 1.5em;
    }
}

