* {
    font-size: 1em;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 2.5em;
    filter: invert(1);
}

.header-options img:hover {
    transform: scale(1.1)
}

a {
    text-decoration: none;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #fff;
}

.area-questao {
    text-align: center;
    border: 2px solid #000;
    border-radius: 0.8em;
    padding: 1em;
    width: 70%;
    height: 10em;
    font-size: 2em;
    margin-bottom: 1.3em;
}

.resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resposta p {
    margin: 0.5em 0;
    padding: 10px;
    width: 50em;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5em;
}

.resposta p:hover {
    cursor: pointer;
    background-color: #ddd;
}

button {
    margin: 0.5em;
    height: 2.5em;
    width: 18em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.6em;
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: #03A65A;
}
