<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/karasha" rel="stylesheet"> <!-- Link da fonte -->
    <link rel="stylesheet" href="../../styles/inicial.css">
    <title>TechNinja</title>
</head>

<body>
    <header><p>
        TECHNINJA
        <img src="/images/logoDark.png" align="right" alt="TechNinja logo" id="img-header" >
    </p></header>

    <main>
        <div class="left-column">
            <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, corrupti possimus! Nisi.</h1>
            <a href="/login"><button name="Entrar" class="button">Entrar</button></a>
            <a href="/cadastro"><button name="Cadastrar" class="button">Cadastrar</button></a>
        </div>

        <div class="right-column">
            <img src="/images/logoDark.png" alt="TechNinja logo" class="main-image">
        </div>
    </main>
</body>

</html>